.form{
    display: flex;
    justify-content: center;
}

.container{
    width:400px ;    
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.title{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.input{
    padding: 10px;
    display: block;
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: .8px solid grey;
    cursor: text;
    outline: none;
}


.body{
    padding-top: 20px;
    padding-bottom: 20px;
}

.button{
    border-radius: 40px;
    margin-top: 20px;
    border: none;
    width: 224px;
    height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color:rgb(23, 58, 108);
    transition-duration: .3s;
}

.error{
    color: rgb(205, 1, 1);
    margin: 3px;
    
}

.button:hover{
    opacity: 0.97;
    transform: scale(1.02);
}
.button:active{
    opacity: 1.5;
}

a{
    text-decoration: none;
    color:rgb(24, 60, 161); ;
}

.signup{
    margin-top: 15px;
}

.forgotpassword{
    margin-top: 15px;
}


.error:before{
    content: url(../../assets/exclamation-mark.png);
    vertical-align: middle;
    margin-right: 5px;
}

.status{
    color: rgb(205, 1, 1);
    margin: 3px;
}