.header{
    grid-area: h;
    background-color: rgb(23, 58, 108);
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  }
  
  .header img{
    width: 60px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      
  }

  .login{
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    right: 10px;
    bottom: 50px;
    width: 80px;
    height: 40px;
    border: 3px solid white;
    float: right;
  }

  .login a{
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
  .login a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(33, 31, 129);
  }

  .login:hover{
    background-color: white;
    
  }
