.content{
  grid-area: c;
  margin-right: 30px;

}

.info img {
  width: 30px;
  height: 30px;
  border-radius: 500px;
}

 .background img {
  width: 700px;
  
  height: 70px;

 }

.status_text{
    margin-bottom: 10px;
    margin-top: 10px;
}