.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container {
    width: 84%;
    height: 600px;
    position: fixed;
    overflow-y: scroll;
}

.row{
    position: relative;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 10px;
    background-color: #0056fe;
    box-shadow: 1px 4px 12px -2px rgba(0, 0, 0, 0.1);
    color: white;
    width: 84%;
    position: fixed;
    border-radius: 5px 5px 0 0;
}

.user_info{
    margin-left: 10px;
}

.name{
    font-weight: 500;
}

.last_online{
    font-size: 12px;
}

.chat {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

.message_container {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    max-width: 60%;
}

.fromFriend {
    background-color: #edf2ff;
    margin-right: auto;
}

.fromMe {
    background-color: #0056fe;
    color: #fff;
    margin-left: auto;
}

.message_body{
    text-align: right;
}

.message{
    text-align: right;
    word-wrap: break-word;
}

.message_time{
    display: block;
    font-size: 12px;
}

.time_fromMe{
    text-align: right;
}

.send_message {
    padding: 10px;
    display: flex;
    width: 84%;
    gap: 10px;
    position: fixed;
    bottom: 6%;
    border-radius: 0 0 5px 5px;
    background-color: rgba(255,255,255,0.5);
    align-items: center;
}


.input {
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    background-color: #edf2ff;
    flex: 1 1 auto;
}

.send {
    color: white;
    background-color: #0056fe;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voice {
    background-color: #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999999;
}

