.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.search_container {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.search_input_container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input_body {
    position: relative;
}

.search_input {
    border: none;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    padding-right: 45px;
}

.input_icon {
    padding: 3px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
    color: #999999;
}

.filter_icon {
    background-color: #f5f5f5;
    color: #515558;
    padding: 5px;
    border-radius: 10px;
}

.search_name {
    font-size: 1.5rem;
    font-weight: 700;
}

.groups_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.group {
    background-color: white;
    border-radius: 15px;
    width: 48%;
}

.group_info{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.name_email{
    display: flex;
    flex-direction: column;
}

.wallpaper img{
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}


.group a {
    text-decoration: none;
    color: rgb(32, 0, 172);

}

.avatar img {
    width: 80px;
    height: 80px;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 10px solid white;
}

.search {
    grid-area: s;
}

.group {
    float: left;
}

.info {
    color: rgb(163, 163, 163);
}

.button {
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform .3s ease;
}

.button:hover{
    transform: scale(1.015);
}

.follow{
    background-color: #05008C;
    color: #fff;
}

.unfollow{
    background-color: rgb(216, 216, 216);
    color: #000 ;
}
