.button {
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(53, 53, 158);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    padding: 5px 10px;
    transition-duration: .2s;
}

.button:hover {
    transform: scale(1.05);
}

.area {
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    border-color: rgb(150, 150, 150);
    outline: none;
}